<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832641380044-oe19e8emko7v04e85catuttveutj5f1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832641380044-oe19e8emko7v04e85catuttveutj5f1a</string>
	<key>API_KEY</key>
	<string>AIzaSyCqQp3hNRdoqI5uiVxMMLhePfaQtdpyaJM</string>
	<key>GCM_SENDER_ID</key>
	<string>832641380044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Casey.clare.iOSFinalProj</string>
	<key>PROJECT_ID</key>
	<string>iosfinalproj</string>
	<key>STORAGE_BUCKET</key>
	<string>iosfinalproj.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832641380044:ios:5ec898dcc639b512685c69</string>
	<key>DATABASE_URL</key>
	<string>https://iosfinalproj.firebaseio.com</string>
</dict>
</plist>